.beneficios {
    padding: 3em 0;
    background: var(--cor-cinza);
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "✔️";
}

.imagem-beneficios {
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 var(--cor-preto);
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.imagembeneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}