.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background:var(--cor-branco);
    width: 940px;
    margin: 0 auto;
}

.principal p {
    color: #ff0000;
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: calc(30% - 26px);
    float: left;
    margin: 0 20px 0;
}